frr version 7.7-dev_git
frr defaults traditional
hostname {{hostname}}
log file /var/log/zebra.log
no ipv6 forwarding
service integrated-vtysh-config
username {{root_user}} {{root_password}}

enable password {{enable_password}}

{% include 'interfaces.conf.j2' %}

{% include 'bgp.conf.j2' %}

{% include 'acl.conf.j2' %}

{% include 'route_map.conf.j2' %}
!
line vty
!